{% extends "base.html" %}
{% block title %} Login{% endblock title %}
{% block content %}
	<div class="container" align="center">
		{% if message %}
			<div class="alert alert-warning"> {{ message }} </div>
		{% endif %}
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading" align="center">
						<h3>Login to My Diary</h3>
					</div>
				</div>
			</div>
		</div>
		<form action="." method="POST">
			{% csrf_token %}
			<table>
				{{login_form.as_table}}
			</table>
			<input type="submit" value="Login"><br>
		</form>
	</div>
{% endblock content %}