<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<div class="navbar-brand" align="center">
                Mini Online-Shop
			</div>
		</div>
		{% load account %}
		<ul class="nav navbar-nav">
			<li class="active"> <a href="/">Home</a></li>
			{% if user.is_authenticated %}
			<li><a href="/addpoll">New(Edit) Poll</a></li>
			<li><a href="{% url 'account_reset_password' %}">Reset Password</a></li>
			<li><a href="{% url 'account_email' %}">Change Email</a></li>
			<li><a href="{% url 'account_logout' %}">Logout</a></li>
			{% else %}
			<li><a href="{% url 'account_login' %}">Login</a></li>
			<li><a href="{% url 'account_signup' %}">Register</a></li>
			{% endif %}
			<li><a href="/admin">Admin</a></li>
		</ul>
	</div>
</nav>
