{% extends "base.html" %}
{% block title %} Online Shop {% endblock title %}
{% block content %}
	<div class="container">
		{% for message in messages %}
			<div class="alert alert-{{ message.tags }}"> {{ message }} </div>
		{% endfor %}
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel panel-heading" align="center">
					     <h3>Welcom to My Online Shop</h3>
					     <h3>{{ category.name|default:"all products" }}</h3>
                         {% load account %}
					     {% if user.is_authenticated %}
					     	{% if  user.socialaccount_set.all.0.extra_data.login %}
					     		{{ user.socialaccount_set.all.0.extra_data.login }}<br>
					     		<img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="avatar" width="100">
					     	{% else %}
					     		Welcome: {{ user.username }}
					     	{% endif %}
					     {% else %}
					        <p>You can login with your Github account.</p>
					     {% endif %}
					</div>
				</div>
            </div>
		</div>
        <div class="row">
            <!--{% load account %}-->
            {% for product in products %}
            	{% cycle '<div class="row">' '' '' '' %}
            		<div class="col-xs-3 col-sm-3 col-md-3">
            			<div class="thumbnail">
            				<img src="{{product.image.icons.64}}">
            				<div class="caption">
            					<h4><a href="{% url 'product-url' product.id %}">{{product.name}}</a></h4>
            					<p>${{product.price}}</p>
            					<p>Stock:{{product.stock}}</p>
            					<p>{{product.description}}</p>
            					<button class="btn btn-primary">Add to cart</button>
            				</div>
            			</div>
            		</div>
            	{% cycle '' '' '' '</div>' %}
            		{% empty %}
            		<div class="row">
            			<div class="col-sm-12" align="center">
            				<h3>No product in this category.</h3>
            			</div>
            		</div>
			{% endfor %}
			<div class="list-group"></div>
        </div>
        <div class="row">
			<button class="btn btn-info">You are on page {{products.number}}</button>
			{% if products.has_previous %}
				<button class="btn btn-info">
					<a href="?p={{products.previous_page_number}}">Previous</a>
				</button>
			{% endif %}
			{% if products.has_next %}
				<button class="btn btn-info">
					<a href="?p={{products.next_page_number}}">Next</a>
				</button>

			{% endif %}
		</div>
	</div>
{% endblock content %}
