{% extends "base.html" %}
{% block title %} Online Shop {% endblock title %}
{% block content %}
    <div class="container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}"> {{ message }} </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel panel-heading" align="center">
                         <h3>Welcom to My Online Shop</h3>
                         <h3>{{ category.name|default:"all products" }}</h3>
                         {% load account %}
                         {% if user.is_authenticated %}
                            {% if  user.socialaccount_set.all.0.extra_data.login %}
                                {{ user.socialaccount_set.all.0.extra_data.login }}<br>
                                <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="avatar" width="100">
                            {% else %}
                                Welcome: {{ user.username }}
                            {% endif %}
                         {% else %}
                            <p>You can login with your Github account.</p>
                         {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel panel-heading">
                        <h4>My Orders</h4>
                    </div>
                    <div class="panel panel-body">
                        {% for order in orders %}
                            {% if forloop.first %}
                                <table border=1>
                                    <tr>
                                        <td width="100" align="center">Order ID</td>
                                        <td width="100" align="center">Name</td>
                                        <td width="300" align="center">Address</td>
                                        <td width="200" align="center">Order Date</td>
                                        <td width="100" align="center">Purchased</td>
                                    </tr>
                            {% endif %}
                            <div class="list-roup">
                                <div class="listgroup-item">
                                    <tr>
                                        <td>{{ order.id }}</td>
                                        <td align="right">{{ order.full_name }}</td>
                                        <td align="center">{{ order.address }}</td>
                                        <td align="right">{{ order.created_at}}</td>
                                        <td align="center">{{ order.paid | yesno:"Yes,No" }}</td>
                                    </tr>
                                </div>
                            </div>
                            {% if forloop.last %}
                                </table>
                            {% endif %}
                                {% empty %}
                                <em>No processing order.</em>
                        {% endfor %}
                    </div>
                    <div class="panel panel-footer">
                    </div> 
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
