{% extends "base.html" %}
{% block title %} Pay using PayPal {% endblock title %}
{% block content %}
    <div class="container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}"> {{ message }} </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel panel-heading" align="center">
                         <h3>Welcom to My Online Shop</h3>
                         <h3>{{ category.name|default:"all products" }}</h3>
                         {% load account %}
                         {% if user.is_authenticated %}
                            {% if  user.socialaccount_set.all.0.extra_data.login %}
                                {{ user.socialaccount_set.all.0.extra_data.login }}<br>
                                <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="avatar" width="100">
                            {% else %}
                                Welcome: {{ user.username }}
                            {% endif %}
                         {% else %}
                            <p>You can login with your Github account.</p>
                         {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel panel-heading">
                        <h4>Payment Cancelled !</h4>
                    </div>
                    <div class="panel panel-body">
                        <p> Please check your payment or return to <a href="/myorders/">My Orders</a></p>
                    </div>
                    <div class="panel panel-footer">
                    </div> 
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
