{% extends "base.html" %}
{% block title %} I got something to say.{% endblock title %}
{% block content %}
	<div class="container" align="center">
		<form name="my form" action="/" method="GET" >
			Present Mood: <br>
			{% for m in moods %}
				<input type="radio" name="mood" value="{{ m.status }}" > {{ m.status }}
			{% endfor %}
			<br>
			Mood Bulletin : <br/>
			<textarea name="user_post" id="" cols="70" rows="3"></textarea><br>
			<label for="user_id">Your ID:</label>
			<input id="user_id" type="text" name="user_id">
			<label for="user_pass">Your Password</label>
			<input id="user_pass" type="password" name="user_pass">
			<input type="submit" value="Post">
			<input type="reset" value="Reset">
		</form>
	Your ID: {{ uid | default:"No input"}} <br>
		{% if verified %}
			<em>VERIFIED !</em>
		{% else %}
			<em>WRONG USERNAME OR PASSWORD !</em>
		{% endif %}
		
	<label for="byear">Year of  Birth</label>
		<select name="byear">
			{% for year in years  %}
				<option value="{{ year }}"> {{ year }} </option>
			{% endfor %}
		</select>
		<br>
	Favorate Color:
		{% for c in ufcolor %}
			{{ c }}
		{% empty %}
			No color selected.
		{% endfor %}
		<input type="checkbox" name="fcolor" value="Green"> Green
		<input type="checkbox" name="fcolor" value="Red"> Red
	 	<input type="checkbox" name="fcolor" value="Blue"> Blue
		<input type="checkbox" name="fcolor" value="Yellow"> Yellow
		<input type="checkbox" name="fcolor" value="Orange"> Orange
		<br>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading" align="center">
					<h3>~~宝宝心里苦，有话只在这里说~~</h3>
				</div>
			</div>
		</div>
	</div>
	{% for p in posts %}
		{% cycle "<div class='row'> <div class='col-md-4'>" "<div class='col-md-4'>"  "<div class='col-md-4'>"  %}
			<div class="panel panel-primary">
				<div class="panel-heading"> 【{{ p.nickname }}】feel {{ p.mood }} </div>
				<div class="panel-body"> {{ p.message|linebreaks}} </div>
				<div class="panel-footer" align="right"><i><small> {{ p.pub_time }} </small></i></div>
			</div>
		<!-- HOW the following </div>  and "" "" work ? -->
		</div>
		{% cycle "" "" "</div>" %}
	{% endfor %}
{% endblock content %}