{% extends "base.html" %}
{% block title %} I got something to say.{% endblock title %}
{% block content %}
	<div class="container" align="center">
		<form name="my form" action="/" method="GET" >
			<label for="user_id">Your ID:</label>
			<input id="user_id" type="text" name="user_id">
			<label for="user_pass">Your Password</label>
			<input id="user_pass" type="password" name="user_pass">
			<input type="submit" value="login">
			<input type="reset" value="reset">
		</form>
	Your ID: {{ uid | default:"No input"}} <br>
		{% if verified %}
			<em>VERIFIED !</em>
		{% else %}
			<em>WRONG USERNAME OR PASSWORD !</em>
		{% endif %}
		
	<label for="byear">Year of  Birth</label>
		<select name="byear">
			{% for year in years  %}
				<option value="{{ year }}"> {{ year }} </option>
			{% endfor %}
		</select>
		<br>
	Favorate Color:
		{% for c in ufcolor %}
			{{ c }}
		{% empty %}
			No color selected.
		{% endfor %}
		<input type="checkbox" name="fcolor" value="Green"> Green
		<input type="checkbox" name="fcolor" value="Red"> Red
	 	<input type="checkbox" name="fcolor" value="Blue"> Blue
		<input type="checkbox" name="fcolor" value="Yellow"> Yellow
		<input type="checkbox" name="fcolor" value="Orange"> Orange
		<br>
	</div>
{% endblock content %}