{% extends "layout_2_col.html" %}
{% load i18n %}

{% block navigation %}
    {% include "partials/nav_primary.html" with expand_dropdown=1 %}
{% endblock %}

{% block header %}{% endblock %}

{% block column_left %}
	<table>
		<tr>
			<td>
				<div class="panel panel-warning">
					<div class="panel panel-heading">
						<h3>Latest News</h3>
					</div>
					<div class="panel panel-body">
						<p>New Book Promotion</p>
					</div>
					<div class="panel panel-footer">
						<em>Deadline:01/01/2019</em>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="panel panel-info">
					<div class="panel panel-heading">
						<h3>Address</h3>
					</div>
					<div class="panel panel-body">
						<div>
					     <iframe width="100%"  frameborder="0" src="https://cn.bing.com/maps/embed?h=280&w=325&cp=25.69202724106691~100.16480103481081&lvl=15&typ=d&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no">
					     </iframe>
					 	</div>
					    </div>
					</div>
					<div class="panel panel-footer">
						<em>Contact:0123456789</em>
					</div>
				</div>
			</td>
		</tr>
	</table>
{% endblock %}

{% block content %}
	<div class="panel panel-primary">
		<div class="panel panel-heading">
			<h1>Welcome to My Shop</h1>
		</div>
		<div class="panel panel-body">
			<iframe  width="800" height="600" src="//player.bilibili.com/player.html?aid=875977&cid=35306693&page=113" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
		</div>
		<div class="panel panel-footer">
			<p align="center">Pretend Google Ads exists here.</p>
		</div>
	</div>
{% endblock content %}
