<!DOCTYPE html>
<html>
<head>
	<title>Price List</title>
</head>
<body>
	{% load humanize %}
	<h2>Price Details</h2>
	<table>
		<tr>
		{% for m in car_maker  %}
			<td bgcolor="#cfc">
				<a href="{% url 'carprice-url' forloop.counter0 %}">{{ m }}</a>
			</td>
		{% endfor %}
		</tr>
	</table>
	{% for c in cars %}
		{% if forloop.first %}
			<table>
				<tr><td>Maker</td><td>Model</td><td>Price</td><td>Stock</td></tr>
		{% endif %}
				<tr bgcolor="{% cycle '#eee' '#ccc' '#aaa' %}">
					<td>{{ maker_name }}</td><td>{{ c.model }}</td><td align="right">CNY{{ c.price | floatformat:2 | intcomma }}</td><td>{{ c.stock }}</td>
				</tr>
		{% if forloop.last %}
			</table>
		{% endif %}
		{% empty %}
		<h3>Maker <em>{{ maker_name }}</em> NO CARS AVAILABLE. </h3>
	{% endfor %}
	<hr>
	{% now "D M Y h:m:s a" %}
	{% lorem 2 p random %}
</body>
</html>