{% extends "base.html" %}
{% block title %} Embedded Video Page {% endblock %}
{% block tvname %} {{ tv.name }} {% endblock %}
{% block menu %}
	<ul class="nav navbar-nav">
		<li class="active"><a href="/">Home</a></li>
		<li><a href="{% url 'tv-url' 0 %}">GOKURAKU JODO</a></li>
		<li><a href="{% url 'tv-url' 1 %}">OEASY</a></li>
	</ul>
{% endblock  %}
{% block content %}
	<div class="container">
		<div id="tvcode" align="center">
			<iframe src="//player.bilibili.com/player.html?{{ tv.tvcode }}"  height="720" width="960" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
		</div>
	</div>

{% endblock %}
