<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</head>
<body>
	<!--p>Hello World</p>
	<hr>
	<em>{{ now }}</em-->
	<nav class="navbar navbar=default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"> Now Playing {{ tv.name }}</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href=">Home<"></a></li>
				<li><a href="{% url 'tv-url' 0 %}">GOKURAKU JODO</a></li>
				<li><a href="{% url 'tv-url' 1 %}">OEASY</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div id="tvcode" align="center">
			<!--iframe src="//player.bilibili.com/player.html?aid=6449135&cid=10486949&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
			<iframe src="//player.bilibili.com/player.html?aid=1290353&cid=1961804&page=9" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe-->
			<iframe src="//player.bilibili.com/player.html?{{ tv.tvcode }}" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-footer"><em>{{ now }}</em></div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>
</html>