{% extends "base.html" %}
{% block title %}
	Create a new account.
{% endblock title %}
{% block content %}
	<div class="container">
		{% for message in messages %}
			<div class="alert alert-{{message.tags}}">{{message}}</div>
		{% endfor %}
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel panel-heading" align="center"> 
						<h3>Sign in for My Diary</h3>
					</div>
				</div>
			</div>
		</div>
		<form action="." method="POST">
			{% csrf_token %}
			<table>
				{{form.as_table}}
			</table>
			<input type="submit" value="Register">
		</form>
	</div>
{% endblock content %}